#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

body{
  background-color: rgb(19, 19, 19);
  color: aliceblue;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.counter{
  margin-bottom: 5rem;
}