body {
    background-color: black;
    margin: 1% 5%;
    font-size: 1.1rem;
    color:azure
}

p:hover {
    color: rgb(112, 255, 112);
}

li {
    margin: 0.4rem;
}
li::marker {
    content: "🌭";
}

li + li{
    background-color: darkslategray;
}

.parafo {
    color: pink;
    background-color: grey;
}

.parafo + .parafo {
    background-color: brown;
}

.parafoBig {
    font-size: 2rem;
}

#primerDiv {
    background-color: forestgreen;
    color: white;
}

#segundoDiv {
    color: lightskyblue;
}